

.section-fade-in {
    opacity: 0;
    transform: translateY(2rem); /* Empieza 2rem más abajo */
    transition: opacity 600ms ease-out, transform 600ms ease-out;
  }
  
  .section-fade-in.is-visible {
    opacity: 1;
    transform: translateY(0);
  }

  #main-header {
    @apply bg-transparent transition-all duration-300 ease-in-out;
  }

  #main-header.header-scrolled {
    @apply bg-brand-bg/95 dark:bg-dark-bg/95 backdrop-blur-sm shadow-md;
  }