---
import Layout from '../layouts/Layout.astro';
import ChatBotComponent from '../components/ChatBotComponent.astro';
---

<Layout pageTitle="Chatbot">

    <section class="py-16">
        <div class="max-w-4xl mx-auto px-4">
        <h1 class="text-3xl font-bold mb-6 text-center">Chatbot de Asistencia</h1>
        <p class="text-center text-gray-600 mb-8">Interactúa con nuestro chatbot para obtener respuestas rápidas y asistencia personalizada.</p>
        <ChatBotComponent />
        </div>
    </section>

</Layout>