---
import Layout from "../layouts/Layout.astro";
import { getCollection, getEntry } from 'astro:content';
import Card from "../components/Card.astro";

---

<Layout pageTitle="Proyectos">

    <section class="relative bg-slate-200 dark:bg-slate-800 h-[60vh] min-h-[400px] flex items-center justify-center text-center section-fade-in">
    
        <!-- Capa de superposición oscura (opcional pero muy recomendado) -->
        <div class="absolute inset-0 bg-black/50"></div>
    
        <!-- Contenedor del contenido (centrado y con ancho máximo) -->
        <div class="relative z-10 max-w-4xl mx-auto px-4">
          <h1 class="text-4xl md:text-6xl font-extrabold text-white tracking-tight">
            Proyectos
          </h1>
          </div>
        
      </section>

      <section>
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 text-align ">
        <Card />
        <Card />
        <Card />
        </div>
      </div>
      </section>
</Layout>
      <Fragment slot="after-footer-scripts">
        <script>
          import '../scripts/scroll-animations.js';
        </script>
      </Fragment>
</Layout>