---
// src/components/Header.astro

// Importamos los componentes que vamos a usar en nuestro header
import Logo from "./Logo.astro"; 
import ThemeToggle from "./ThemeToggle.jsx";
import MobileMenu from "./MobileMenu.jsx";

// Guardamos los enlaces de navegación en un array para poder iterar sobre ellos
const navLinks = [
  { href: "/", text: "Inicio" },
  { href: "/recetas", text: "Recetas" },
  { href: "/restaurantes", text: "Restaurantes" },
  { href: "/sobre-mi", text: "Sobre Mí" },
];
---

<!-- Header principal con su id, especificamos que sea fixed que ocupe todo el ancho y su posicion z -->
<header id="main-header" class="fixed top-0 left-0 right-0 z-50" >

  <!-- Contenedor principal del header, con un ancho máximo y márgenes automáticos para centrarlo -->
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

    <!-- Contenedor interno para alinear los elementos del header -->
    <div class="flex items-center justify-between h-16">

      <!-- Sección Izquierda: Logo -->
      <div class="flex-shrink-0">

        <Logo />

      </div>

      <!-- Sección Central: Navegación de Escritorio -->
      <nav class="hidden md:flex md:items-center md:space-x-8">

        <!-- 1. Iteramos sobre los enlaces de navegación y los mostramos -->
        {
          navLinks.map((link) => (
            
            <a
              href={link.href}
              class="font-medium text-brand-fg dark:text-dark-fg hover:text-primary dark:hover:text-sky-400"
            >
              {link.text}
            </a>
          ))
        }
      </nav>

      <!-- Sección Derecha: Tema y Menú Móvil -->
      <div class="flex items-center gap-4">
        <ThemeToggle client:load />

        <!-- Botón del menú hamburguesa (solo visible en móvil) -->
        <div class="md:hidden">
          <MobileMenu navLinks={navLinks} client:load />
        </div>
      </div>
    </div>
  </div>
</header>

<script>
// Importamos las animaciones del header para que sea transparente o cambie de color
  import "../scripts/header-animations.js";
</script>
